################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CES Service Manager/bin/Debug/config/Environment/Jenkins.xml
